<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #94c481;">
    <div class="row" style="width: 100%">
        <div class="col">
            <div class="collapse navbar-collapse" id="navbarNav" style="padding: 12px 0px">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/generate">Generate</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile" onclick="return false;">Profile<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4" style="display: inherit;">
            <img class="profImg" src={{user.profilePicUrl}}>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<main style="background-color: #ab5076;">
    <h1>Saved Patterns</h1>
    <div class="d-flex flex-column p-2" style="background-color: #d9ac32; min-height: calc(100vh - 136px);">
        {{#if patterns}}
            {{#each patterns}}
                <div class="card" style="width: 18rem; margin: 40px">
                <img class="card-img-top imgForCard" id="patternImage3" src={{this.dataValues.patternImage}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" id="patternName3">{{this.dataValues.patternName}}</h5>
                        <p class="card-text" id="patternAuthor3">{{this.dataValues.patternAuthor}}</p>
                        <button id="patternLink" class="linkBtn" target="_blank"><a href={{this.dataValues.patternUrl}} target="_blank"><i class="fas fa-link"></i>Link</a></button>
                        <button data-id={{this.dataValues.patternId}} id="patternUnsave" class="deleteBtn"><i class="fas fa-trash"></i>Delete</button>
                    </div>
                </div>
            {{/each}}
        {{else}}
        <h1 class="text-center font-weight-bold mb-5">No Saved Patterns</h1>
        <h3 class="text-center font-weight-bold mt-5" style="color: grey;">Directions</h3>
        <h5 class="text-center font-italic" style="color: grey;">Click "Generate" on the top left corner and select the article of clothing, yarn weight, and if you will be Knitting or Crochet. Then press submit to generate your patterns.</h5>
        {{/if}}
    </div>
</main>
<script type="text/javascript" src="/js/profileFront.js"></script>