<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg greenBack">
    <div class="row fullWidth">
        <div class="col">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-style">
                        <a href="/home">Home</a>
                    </li>
                    <li class="nav-style">
                        <a href="/generate">Generate<span class="sr-only">(current)</a>
                    </li>
                    <li class="nav-style active">
                        <a href="/profile" onclick="return false;">Saved Patterns</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-4">
            <img class="profImg" src={{user.profilePicUrl}} alt="user profile image" /> {{user.username}}
                <a href="/logout"> <i class="fas fa-sign-out-alt"></i></a>
        </div>
        <h1>Purlwise</h1>
    </div>
</nav>


<div class="purpBack">
    {{!-- <h1>Saved Patterns</h1> --}}
    <div class="yellowBack" >
        {{#if patterns}}
      <div class="project-item"> 
            {{#each patterns}}
                <div class="card card-properties">
                <img class="card-img-top imgForCard" id="patternImage3" src={{this.dataValues.patternImage}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" id="patternName3">{{this.dataValues.patternName}}</h5>
                        <p class="card-text" id="patternAuthor3">{{this.dataValues.patternAuthor}}</p>
                        <button id="patternLink" class="link" target="_blank"><a href={{this.dataValues.patternUrl}} target="_blank"><i class="fas fa-link"></i></a></button>
                        <button data-id={{this.dataValues.patternId}} id="patternUnsave" class="link"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            {{/each}}
        </div>
        {{else}}
            <div id="noPatterns">            
                <h1>No Saved Patterns</h1>
                {{!-- <h3>Directions</h3> --}}
                <p>Click "Generate" on the top left corner and select the article of clothing, yarn weight, and if you will be Knitting or Crochet. Then press submit to generate your patterns.</p>
            </div>
        {{/if}}
    </div>
</div>
<script type="text/javascript" src="/js/profileFront.js"></script>